.larger-height {
  height: 150px;
}

.carousel {
  background-image: url('./images/carousel.jpg');
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.largest-height {
  height: 200px;
}

.icon-size {
  font-size: 2.5rem;
}

.block-image {
  width: 400px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap !important;
}

.scrolling-img-div {
  height: 400px;
  padding: 2%;
  margin: 2%;
}
