.larger-height {
  height: 150px;
}

.top-div {
  background-image: url('./images/carousel.jpg');
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.largest-height {
  height: 200px;
}

.icon-size {
  font-size: 2.5rem;
}

.block-image {
  width: 400px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap !important;
}

.scrolling-img-div {
  height: 400px;
  padding: 2%;
  margin: 2%;
}

.testimonial-img {
  border-radius: 50%;
}

.video-max-width {
  max-width: 700px !important;
}

.standard-font {
  font-size: 16px !important;
font-family: 'Oswald', sans-serif, Arial, Helvetica;
}

.p-font {
 font-size: 18px !important;
}

.fa-tooth {
  color: aqua;
}

.font-bold {
  font-weight: 600;

}

.max-self {
  max-width: 1400px;
}

.bg-lime {
  background-color: #A7C526;
}

.vh-60 {
  height: 60vh;
}

.rounded-border {
  border-radius: 3%;
}

.bg-light-blue {
  background-color:#6ee4ff !important;
}

.dark-shadow {
  box-shadow: 1px 4px 5px 0px #5E5E5E;
}

.website-max {
  max-width: 1300px !important;
}

.website-width {
  width: 60%;
}

.black {
  color: black;
}
.black:hover {
 background-color:#6ee4ff ;
 color: white;
 cursor: pointer;
}

.img-gallery {
  width: 450px;
}

.scrolling-div {
  height: 300px;
    overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap !important;
}

.icon-size {
  font: 18px !important;
}

.gallery-flex {
  flex-basis: 100%
}

@media screen and (min-width: 600px) {
  .gallery-flex {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .gallery-flex {
    flex-basis: 30%;
  }
}

.fas:hover {
  cursor: pointer;
  color: #6ee4ff;
}

* {
  font-family: 'Oswald', sans-serif, Arial, Helvetica;
}

.reviewsDivScroll {
  height: 350px;
    overflow-x: hidden;
    overflow-y: hidden;
}
