.larger-height {
  height: 150px;
}

.carousel {
  background-image: url('./images/carousel.jpg');
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.largest-height {
  height: 200px;
}

.icon-size {
  font-size: 2.5rem;
}

.block-image {
  width: 400px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap !important;
}

.scrolling-img-div {
  height: 400px;
  padding: 2%;
  margin: 2%;
}

.testimonial-img {
  border-radius: 50%;
}

.video-max-width {
  max-width: 700px !important;
}

.standard-font {
  font-size: 16px !important;
font-family: 'Oswald', sans-serif, Arial, Helvetica;
}

.p-font {
 font-size: 18px !important;
}

.fa-tooth {
  color: aqua;
}

.font-bold {
  font-weight: 600;

}

.max-self {
  max-width: 1400px;
}

.bg-lime {
  background-color: #A7C526;
}
